  .mobile-filter-button-wrapper{
    display: none;
    position: fixed;
    color: #308FD5;
    font-weight: bold;
    top: 20px;
    right: 20px;
    z-index: 90;
    background-color: white;
    padding: 18px 40px;
    border-radius: 80px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    cursor: pointer;
  }

  .mobile-filter-description{
    fill: #308FD5!important;
    margin-left:15px;
  }

@media only screen and (max-width: 768px) {
  .mobile-filter-button-wrapper{
    display: flex;
    align-items: center;
  }
}
