.category-item{
  display: flex;
  align-items: center;
  padding: 30px 0;
  cursor: pointer;
  transition: all 0.8s;
  border-bottom: 3px solid white;
}

.active{
  color: #308FD5!important;
  border-bottom: 3px solid #308FD5;
  font-weight: bold;
}

.category-item:first-child{
  padding-left: 0;
}

.category-item:last-child{
  margin-right: 0;
  margin-left: auto;
}

.category-name{
  margin-left: 10px;
}

/* override icon svg style */
.active #sun,
.active g,
.active #book{
  fill: #308FD5!important;
}

