.post-container{
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  overflow: hidden;
}

.visible{
  max-height: 465px;
  margin-bottom: 60px!important;
  opacity: 1;
}


.post-wrapper{
  display: flex;
  align-items: flex-end;
} 

.post-image{
  /*this should not be a fixed w/h but the layout style forces it, otherwise iw breaks when the view is smaller */
  width: 317px;
  height: 464px;
}

.post-card-wrapper{
  display: flex;
  flex: 1;
  padding-top: 60px;
}

.post-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    background-color: white;
    padding: 30px 4vw 30px 8vw;
    box-shadow: 2px 2px 2px #edede7;
    overflow: scroll;
}

.post-link-wrap{
  display: flex;
  align-items: center;
}

.post-icon{
  margin-right: 15px;
}

.post-link{
  font-size: 0.9em;
}

@media only screen and (max-width: 1224px) {
  .post-card{
      padding: 20px 4vw 20px 5vw;
  }
}

@media only screen and (max-width: 768px) {
  .post-wrapper{
      display: block;
  }

  .post-wrapper:first-child{
    margin-top: 60px;
  }

  .visible{
    max-height: 800px;
  }

  .post-card-wrapper{
    padding: 0;
  }

  .gatsby-image-wrapper{
    width: 100%!important;
    height: 250px!important;
  }
}

