.header-wrapper{
  background-color: white;
  margin: 20px 0 60px 0;
  transition: all 0.8s;
}

.filter-wrapper{
  display: flex;
}

.category-item{
  margin-right: 4vw;
}

.category-item:last-child{
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .header-wrapper{
    position: fixed;
    flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin: 0;
  }
  .mobile-visible{
    top:0;
  }
  .filter-wrapper{
    display: block;
  }
}
